@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus{
  outline: none;
 }

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main{
  min-height: 100%
}

.app-container {
  padding: 20px;
}

.elTableOut{
  max-width: 100%;
  display: inline-block;
  overflow: hidden;
  margin-right: 30px;
}

.tableTitle, .chartLabel, .tableLabel {
  display: inline-block;
  line-height: 30px;
  height: 34px;
  margin: 20px 0;
  font-size: 20px;
  border-bottom: 2px solid #1890FF;
  color: #1890FF;
}
.pagination-container{
  margin: 20px 0 40px;
}

.el-button.el-button--primary.el-button--medium.active{
  // background: #fff;
  // border: 1px solid #dcdfe6;
  // color: #606266;
}

.myInfo{
  margin-top: 15px;
  line-height: 30px;
}
/* 方块模块 */
.rankModule{
  display: inline-block;
  vertical-align: top;
  width: 300px;
  margin-top: 80px;
  padding: 20px;
  padding-bottom: 0;
  border: 1px solid #eee;
  header{
    color: #999;
  }
  body{
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    .title{
      text-indent: 10px;
      text-align: left;
      margin-top: 20px;
    }
    .con{
      height: 80px;
      line-height: 80px;
      text-align: center;
      font-size: 30px;
    }
  }
  footer{
    padding: 10px 0;
    div{
      text-indent: 10px;
      line-height: 30px;
    }
  }
}

  /* 播视网 方块数据 */
.squareInfo{
  display: inline-block;
  padding: 10px 20px 0;
  border: 1px solid #eee;
  color: #999;
  margin-bottom: 20px;
  margin-right: 20px;
  .title{
    line-height: 36px;
  }
  .body{
    overflow: hidden;
    border-bottom: 1px solid #eee;
    .bodyItem{
      text-indent: 15px;
      float: left;
      width: 100%;
      line-height: 30px;
      .con{
        color: #000;
        font-size: 26px;
      }
    }
    .contrast{
      float: left;
      line-height: 30px;
    }
  }
  .footer{
    line-height: 36px;
  }
}

.admin-xiajiang{
  color: rgb(245, 34, 45)
}
.admin-shangsheng{
  color: rgb(0, 204, 0)
}

.marT20{
  margin-top: 20px;
}
.marR20{
  margin-right: 20px;
}
.marB20{
  margin-bottom: 20px;
}
.marL20{
  margin-left: 20px;
}