/* #login */
#login{
    height: 100%;
    overflow: hidden;
}

#login .main{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    padding: 0 20px;
}

#login .login-form{
    padding: 0;
}

#login .login-form label{
    position: relative;
    display: block;
    margin: 30px 0 0;
    height: 88px;
    line-height: 88px;    
    border-radius: 10px;
    overflow: hidden;
    box-sizing: content-box;
}

#login .login-form label.error{
    border: 1px solid #fa4d3e;
}

#login .login-form label input{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 80px;
    border: none;
    background-color: #fff;
    /* background-color: rgb(250, 255, 189); */
}

#login .rsicon-icon,#login .rsicon-mima,#login .rsicon-chakan1,#login .rsicon-chakan{
    display: block;
    position: absolute;
    top: 24px;
    left: 28px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 38px;
    color: #1652b6;
}

#login .rsicon-chakan1,#login .rsicon-chakan{
    left: unset;
    right: 28px;
}

#login .login{
    text-align: center;
    line-height: 90px;
    height: 90px;
    width: 100%;
    margin: 80px auto 0;
    display: block;
    border: 0;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    background-color: #1655bf;
    font-size: 30px;
}

#login .menu{
    display: flex;
    justify-content: space-between;
}

#login .menu a{
    color: #1655bf;
    font-size: 26px;
    margin-top: 40px;
}
/* #Register */
#Register{
    height: 100%;
    overflow: hidden;
}

#Register .main{
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    padding: 0 20px;
}

#Register .register-form{
    padding: 0;
}

#Register .register-form label{
    position: relative;
    display: block;
    margin: 30px 0 0;
    height: 88px;
    line-height: 88px;    
    border-radius: 10px;
    overflow: hidden;
}

#Register .register-form label.error{
    border: 1px solid #fa4d3e;
}


#Register .register-form label input{
    display: block;
    width: 100%;
    height: 100%;
    text-indent: 80px;
    border: none;
    background-color: #fff;
    /* background-color: rgb(250, 255, 189); */
}

#Register .register-form label .noIndent {
    text-indent: 20px;
}

#Register .phoneFirst{
    position: absolute;
    top: 24px;
    left: 16px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    color: #1652b6;
}

#Register .getCode{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    text-align: center;
    background-color: #1652b6;
    color: #fff;
    padding: 0 20px;

}


#Register .registerBtn{
    text-align: center;
    line-height: 90px;
    height: 90px;
    width: 100%;
    margin: 80px auto 0;
    display: block;
    border: 0;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    background-color: #1655bf;
    font-size: 30px;
}

#Register .treaty{
    margin-top: 40px;
    font-size: 26px;
}

.treaty input{
    float: left;
    margin: 0 20px 0 0;
}

#Register .treaty a{
    color: #1655bf;    
}

#Register .menu{
    overflow: hidden;
}

#Register .menu a{
    float: right;
    color: #1655bf;
    font-size: 26px;
    margin-top: 40px;
}
/* Group */
#group{
    padding: 100px 0;
}  
#group>nav{
    display: flex;
    background: #fff;
    margin-bottom : 20px;
}
#group>nav>.navItem{
    flex:1;
    text-align: center;
    height: 80px;
    line-height: 80px;
    color:#9b9b9b;
    font-size:30px;
}
#group>nav>.navItem.active{
    color: #181818;
}
/* GroupList */
#groupList{
    display: flex;
    flex-direction: column;
}
#groupList .groupProItem{
    flex: 1;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
}
#groupList .groupProItem .imgOut{
    padding: 10px;
    float: left; 
    width: 30%;
    margin-right: 5%;
    background: #fff;
}
#groupList .groupProItem .groupProInfo{
    float: left; 
    width:  65%;
    position: relative
}
#groupList .groupProItem .groupProLink{
    position: absolute;
    bottom: 40px;
    right: 0;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    border-radius: 20px;
    background: #FF0036;
}
#groupList .groupProItem .groupProInfo>div{
    color: #181818;
}
#groupList .groupProItem .groupProInfo>div.orderName{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#groupList .groupProItem .groupProInfo>.groupProName{
    color: #181818;
    font-weight: bold;
}
#groupList .groupProItem .groupProInfo>.groupProName>span{
    background-color: #FF0036;
    color: #fff;
    padding: 0 10px;
    margin-right: 10px;
    border-radius: 5px;
}
#groupList .groupProItem .groupProInfo>.groupProSpec{
    color: #9b9b9b;
}
#groupList .groupProItem .groupProInfo>.groupProJobPrice{
    color: #FF0036;
}
#groupList .groupProItem .groupProInfo>.groupProGroupPrice{
    color: #FF0036;
}
#groupList .groupProItem .groupProInfo>.groupProGroupMustNum{
    color: #9b9b9b;
}
#groupList .groupProItem .groupProInfo>.groupProGroupPercent{
    width: 100%;
    height: 20px;
    margin-top: 10px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}
#groupList .groupProItem .groupProInfo>.groupProGroupPercent>.conColor{
    background-color: #FF0036;
    height: 100%;
    width: 50%;
    border-radius: 10px;
}

/* 选择商品格式  + 修改数量 */
.widgets-cover{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s 80ms;
    will-change: opacity;
}
.widgets-cover.show{
    pointer-events: auto;
    opacity: 1;    
}
@keyframes opacity {
    0% {top: 100%;}
    100% {top: 0%;}
}
.widgets-cover .cover-bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
}
.widgets-cover.show .cover-bg {
    background-color: rgba(0,0,0,.5);
}

.widgets-cover .cover-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 20%;
    background-color: #fff;
    -webkit-transition: -webkit-transform .3s cubic-bezier(0,0,.25,1) 80ms;
    transition: transform .3s cubic-bezier(0,0,.25,1) 80ms;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    will-change: transform;
    box-shadow: 0 -1px 40px rgba(0,0,0,.3);
}
.widgets-cover.show .cover-content {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.sku-wrap{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sku-wrap ._header {
    padding: 20px 0 20px 254px;
    position: relative;
}

.sku-wrap ._header .img-wrap {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -56px;
    left: 20px;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1px;
    background-color: #fff;
}
.sku-wrap ._header .img-wrap img {
    width: 100%;
    height: 100%;
}

.sku-wrap ._header ._main .price {
    font-family: arial;
    font-size: 32px;
    color: #FF0036;
    word-wrap: break-word
}

.sku-wrap ._header ._main .sku-info {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 72px;
    overflow: hidden
}

.sku-wrap ._header ._main .sku-info span {
    margin-right: 10px
}

.sku-wrap ._header .sku-close {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 40px;
    height: 40px;

}

.sku-wrap ._body {
    padding: 0 30px 20px;
    position: absolute;
    bottom: 96px;
    top: 186px;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch
}

.sku-wrap ._body:before {
    content: "";
    display: block;
    border-bottom: 1px solid rgba(0,0,0,.1)
}

.sku-wrap ._body h2 {
    color: #666;
    font-size: 26px;
    font-weight: 400;
    padding-bottom: 20px;
    padding-top: 20px
}

.sku-wrap ._footer {
    display: block;
    display: -webkit-box;
    display: flex;
    height: 96px;
    text-align: center;
    line-height: 96px;
    color: #FFF;
    width: 100%;
    position: absolute;
    bottom: 0
}

.sku-wrap ._footer span {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.sku-wrap ._footer .info {
    display: none
}

.sku-wrap ._footer .ok {
    display: block;
    font-size: 30px;
    line-height: 100px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #fff;
    background-color: #FF0036
}

.sku-wrap ._footer .ok.disabled {
    background-color: #cfcfcf;
    color: rgba(255,255,255,.4)
}

.bundle-wrap li,.sku-list-wrap li {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 20px
}

.bundle-wrap .items a,.sku-list-wrap .items a {
    position: relative;
    display: inline-block;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    padding: 12px 24px;
    border-radius: 16px;
    font-size: 26px;
    margin: 0 16px 16px 0;
    color: #555
}

.sku-list-wrap .items a .sku-dot {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: relative;
    top: -1px;
    margin-right: 5px
}

.sku-list-wrap .items a .cornerIcon {
    position: absolute;
    right: -1px;
    top: -1px;
    width: 13px;
    max-height: 20px
}

.bundle-wrap .items .disabled,.sku-list-wrap .items .disabled {
    color: #cfcfcf
}

.bundle-wrap .items .checked,.sku-list-wrap .items .checked {
    border-color: #FF0036;
    background-color: #FF0036;
    color: #fff
}

.number-wrap .number-line,.services-wrap .items {
    border-bottom: 1px solid rgba(0,0,0,.1)
}


.number-wrap .number-line {
    padding: 20px;
    line-height: 72px
}

.number-wrap .number-line::after {
    content: '\20';
    height: 0;
    display: block;
    clear: both
}

.number-wrap label {
    color: #666;
    font-size: 26px;
    font-weight: 400
}

.number-wrap .limit-txt {
    color: #666;
    font-size: 26px
}

.number-wrap .number {
    height: 72px;
    width: 200px;
    border-radius: 6px;
    float: right
}

.number-wrap .number button,.number-wrap .number input[type=number] {
    float: left
}

.number-wrap .number input[type=number] {
    line-height: 64px;
    height: 68px;
    width: 72px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    margin: 0
}

.number-wrap .number button {
    border: none;
    outline: 0;
    line-height: 64px;
    height: 68px;
    width: 60px;
    font-size: 48px;
    border: 1px solid #f5f5f5;
    background-color: #f5f5f5
}

.number-wrap .number .decrease {
    border-right: 1px solid #fff
}

.number-wrap .number .increase {
    border-left: 1px solid #fff
}

.number-wrap .number .disabled {
    color: #cfcfcf
}

/* 支付 pay.vue */
#pay{
	overflow: hidden;
	height: 100%;
}

#pay .main{
	position: absolute;
	top: 100px;
	left: 0;
    right: 0;
    bottom: 100px;
	width: 100%;
	overflow: auto;    
    font-size: 26px;
}

#pay .addr{
    height: 160px;
    line-height: 160px;
    background: #fff;
    border: 1px solid #efefef;
    margin-bottom: 20px;
}
#pay .addr .left{
    float: left;
}
#pay .addr .right{
    float: right;
}
#pay .addr .left,#pay .addr .right{
    height: 100%;
    width: 100px;
    text-align: center;
}
#pay .addr .left>i,#pay .addr .right>i{
    display: block;
    width: 100%;
    height: 100%;
}
#pay .rsicon-qiehuanqiyou{
    font-size: 36px;
}
#pay .rsicon-address{
    font-size: 48px;
}
#pay .addr .con{
    padding: 0 100px;
    height: 100%;
    line-height: 80px;
}
#pay .addr .con{
    padding: 0 100px;
    height: 100%;
    line-height: 60px;
    font-size: 34px;
    padding: 10px 0;
}

#pay .order{
    background: #fff;
    overflow: hidden;
    margin-bottom: 20px;
    font-size: 30px;
}
#pay .order .store{ 
    padding: 0 20px;
    line-height: 80px;
    height: 80px;
}
#pay .order .con{
    padding: 20px 40px;
    background: #f5f5f5;  
    overflow: hidden; 
}
#pay .order .con .imgOut{
    padding: 10px;
    float: left; 
    width: 30%;
    margin-right: 5%;
    background: #fff;
}
#pay .order .orderInfo{
    float: left; 
    width:  65%
}

#pay .order .orderInfo>div{
    color: #181818;
}
#pay .order .orderInfo>div.orderName{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
#pay .order .orderInfo>div.orderType{
    color: #9b9b9b;
}
#pay .payList{
    background: #fff;
    padding: 0 0;
    overflow: hidden;
}
#pay .payList .payItem{
    float: left;
    padding:0 20% 0 20% ;
    width: 100%;
    line-height: 100px;
    height: 100px;
    position: relative;
    border-bottom: 1px solid #efefef
}

#pay .payList .payItem>i.l{
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100px;
    text-align: center;
}

#pay .payList .payItem>i.r{
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    height: 100px;
    text-align: center;
}

#pay .footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    line-height: 100px;
    width: 100%;
    background: #fff;
    font-size: 30px;
    text-align: center
}
#pay .footer .payBtn{
   line-height: 100px;
   height: 100px;
   width:30% ;
   text-align: center;
   display: block;
   background: #e02e24;
   color: #fff;
   float: right;
   border: none;
   font-size: 30px
}
#pay .footer .total{
    font-size: 34px;
    color: #e02e24;
 }
 #pay .footer .freight{
    color: #e02e24;
 }
  
/* reiconfont */
.rsicon-unie655{
    color: #00ca00
}
.rsicon-zhifubao{
    color: #179eff
}
.rsicon-yduidunpaishixin{
    color: #60c55b;
}
.rsicon-qiehuanqiyou{
    color: #5c5c5c;
}
.rsicon-address{
    color: #5c5c5c;
}